{% extends 'base.html.twig' %}

{% block title %}Hello AdventureController!{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="fs-1">
                    The Adventure Club
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fs-5 mt-4">
                    Wij zijn Emma, Lisa, Alex en Mark.
                    <span class="d-block">
                        Dit is onze website waar wij verhalen delen over onze technologische avonturen. Veel lees plezier!
                    </span>
                </div>
            </div>
        </div>
        <div class="row mt-5 justify-content-center">
            <div class="col-12 bg-secondary w-75">
                <div class="fs-5 text-white my-2">
                    Beleef met ons de avonturen in Techville
                </div>
            </div>
        </div>
    </div>
{% endblock %}
