{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <div class="col">
                    <a href="{{ path('category_products', { 'id': category.id }) }}">{{ category.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
